.card__container--resize{
  width: 12vw;
  height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card__container--resize {
    width: 70vw;
  }
}

.card__header{
  margin-bottom: 15px;
  text-transform: capitalize;
}

.card__container--styling{
  border: 3px solid orange;
  background-color: rgb(243, 212, 175);
  margin:15px 30px 15px 15px;
  padding: 30px;
  color: dodgerblue;
  border-radius: 5px;

  h1{
    font-size: 22px;
    height: 50px;
    margin: 0 0 5px 0;
  }
}

.card__category--styling{
  font-size: 18px;
  margin: 0;
}

.card__content{
  height:15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  .card__label--styling{
    font-size: 20px;
    margin: 0;
    font-weight: 600;
  }

  .card__noquantity--styling{
    color: darkred!important;
    font-weight: 600;
    margin-top: 5px;
  }

  .card__quantity--styling{
    font-size: 16px;
    margin-top: 5px;
  }
}

.card__footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;

  .card__button--styling{
    background-color: green;
    border-color: transparent;
    width: 90px;
    margin-left: 30px;
    border-radius: 5px;
    color: whitesmoke;

    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .card__button--styling:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    cursor: grab;
  }

  .card__button--styling:active {
    transform: translateY(4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: grabbing;
  }

  .card__button--styling:disabled{
    background-color: darkgray;
  }

  .select__container{
    border-radius: 5px;
    border-color: dodgerblue;
    background-color: dodgerblue;
    width: 68px;
    padding: 15px;
    text-align: center;
    color: whitesmoke;
  }

  .card__select--styling{
    border-color: dodgerblue!important;
    background-color: dodgerblue!important;
    color: whitesmoke;
  }

}
