<div class="card__container--resize card__container--styling">
  <div class="card__header">
    <h1>{{product.productName}}</h1>
  </div>
  <div class="card__content">
      <p class="card__label--styling">Categorie: {{product.category}}</p>
      <p class="card__label--styling">Prix: {{calculatePriceTTC() | number:'1.2-2'}} €</p>
    @if(product.quantity>0){
      <p class="card__quantity--styling">Quantité restante: {{product.quantity-selectedQuantity}}</p>

    }
    @else {
        <p class="card__noquantity--styling">Non disponible</p>
    }

  </div>
  <div class="card__footer">
    <div class="select__container">
      <label for="quantity">Qté:</label>
      <select id="quantity"
              name="quantity"
              class="card__select--styling"
              [(ngModel)]="selectedQuantity">
        <option value=0>0</option>
        @for (quantity of quantityList; track quantity){
          <option [value]="quantity">{{quantity}}</option>
        }
      </select>
    </div>

    <button class="card__button--styling"
            (click)="addPanier(product)"
            [disabled]="product.quantity<1 || selectedQuantity==0">
      Ajouter
    </button>
  </div>
</div>

