<div class="card__container--resize card__container--styling">
  <div class="card__header">
    <h1>{{product.productName}}</h1>
  </div>
  <div class="card__content">
    <div>
      <p>Categorie: {{product.category}}</p>
      <p>Prix: {{calculatePriceTTC() | number:'1.2-2'}} €</p>
    </div>

  </div>
  <div class="card__footer">
    <div class="card__quantity--styling" *ngIf="product.quantity>0">
      <p>Quté: {{product.quantity}}</p>
    </div>
    <div class="card__noquantity--styling" *ngIf="product.quantity<1">
      <p>Non disponible</p>
    </div>
    <button class="card__button--styling"
            (click)="addPanier(product)"
            [disabled]="product.quantity<1">
      Ajouter
    </button>
  </div>
</div>

