.main__header--rezize{
  height: 100px;
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.main__container--resize{
  min-height: 94vh;
  background: #F9F9F9;
  font-family: "Roboto Light", serif;
}

.main__footer--resize{
  height: 8vh;
  background: lightsteelblue;
}
